.social-btn {
    position: relative;
    width: 100px;
    height: 40px;
    background-color: #f0f0f0;
    border: 1px solid #e2e2e2;
    font-size: 8px;
    color: black;
    text-align: center;
    border-radius: 5px;
    font-family: arial,helvetica,sans-serif;
    text-transform: uppercase;
    padding: 12px;
}